*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(122, 122, 212);
    border-radius: 20px;
    border: 1px solid black;
    height: 20%;
    font-family: 'Times New Roman', Times, serif;
}

section{
    background-color: rgb(91, 180, 180);
    margin: 25px;
    border: 1px solid black;
    border-radius: 20px;
    height: 70%;
    width: 300px;
    padding: 50px;

}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
}

input{
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100px;
}

select{
    margin: 10px;
    font-size: 20px;
    width: 100px;
    height: 30px;

}

button{
    margin: 15px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#btnCalcular{
    background-color: blue;
    
}

#btnLimpiar{
    background-color: red;
}

#btnEnviar{
    background-color: rgb(94, 185, 154);
}