*{
    padding: 0;
    margin: 0;
}

body{
    justify-content: center;
    background-color: rgb(102, 102, 152);
}

section{
    margin: 20px;
    color: white;
}

a{
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}